html {
  height: 100%;
}
body {
  display: table;
  font-family: "Droid Sans Mono", monospace;
  font-size: 12vw;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.container {
  display: table-cell;
  vertical-align: middle;
}
.active {
  text-decoration: underline;
}
